<div class="element-left">
  <div class="element-bg-img">
    <img src="{{info?.photo[0]}}" alt="" class="img-responsive"> </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li><a href="#" appStyle (click)="type ='hotel'" >Hotel</a></li>
        <li><a href="#"  appStyle (click)="type ='rest'" >Restaurans</a></li>
        <li class="anc-bor"><a href="#" appStyle  (click)="type = 'all'">ALL</a></li>
      </ul>
    </div>
    <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
        <div class="scrollbar" id="style-2">
            <app-details [info]="info"  *ngFor="let info of information | filterInfo: type"></app-details> 
        </div>
        </div>      
    </div>
</div>
</div>


